html{
    font-family: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

#app{
    display: flex;
    height: 100vh;
}

.sidebar{
    flex-basis: 33.33%;
}

.main-chat{
    background-image: url(img/boolzap-wp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
}

.sidebar-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 12px;
    background-color: #EAEAEA;
    height: 45px;
}

.sidebar-top .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 600;
}

.sidebar-top .chat-icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    gap: 12px;
    color: #B1B1B1;
}

.img-wrapper, .sidebar .notifications-icon{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;
}

.sidebar .sidebar-notifications{
    background-color: #8EDAFD;
    height: 55px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
}

.sidebar .notifications-icon{
    background-color: white;
    color: #8EDAFD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .notifications-description{
    font-size: 12px;
    font-weight: 600;
}

.sidebar .notifications-description > span{
    display: block;
}

.sidebar .notifications-description span:nth-child(2){
    text-decoration: underline;
    color: #828F95;
}

.sidebar .sidebar-input{
    height: 35px;
    background-color: #EAEAEA;
    line-height: 33px;
    padding: 0 12px;
}

#search{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 3px;
    background-image: url(img/magnifying-glass-solid.svg);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    background-size: 15px;
    padding-left: 40px;
}

.sidebar .chat-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chat-list .private-chat{
    height: 55px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 5px 0 1px;
    position: relative;
}

.private-chat .chat-description{
    font-size: 12px;
    font-weight: 600;
}

.private-chat .chat-description > span{
    display: block;
}

.private-chat .chat-description span:nth-child(2){
    color: #828F95;
}

.private-chat .message-data{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #828F95;
    font-size: 8px;
    font-weight: 600;
}

.chat-list .private-chat.active,
.chat-list .private-chat:hover{
    background-color: #EAEBEB;
}