html{
    font-family: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

aside{
    border-right: 1px solid #EFEFEF;
}

i:hover{
    cursor: pointer;
}

#app{
    display: flex;
    height: 100vh;
}

/* ----------------SIDEBAR---------------------------- */
.sidebar{
    flex-basis: 30%;
    min-width: 350px;
}

.main-chat{
    flex-grow: 1;
}

.sidebar-top{
    height: 60px;
    border-right: 1px solid #D4D5D9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 12px;
    background-color: #EAEAEA;
}

.sidebar-top .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 600;
}

.sidebar-top .chat-icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    gap: 25px;
    color: #606165;
}

.img-wrapper.small, .sidebar .notifications-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.img-wrapper{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.sidebar .sidebar-notifications{
    background-color: #8EDAFD;
    height: 55px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
}

.sidebar .notifications-icon{
    background-color: white;
    color: #8EDAFD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .notifications-description{
    font-size: 12px;
}

.sidebar .notifications-description span{
    text-decoration: underline;
    color: #828F95;
    font-weight: 400;
}

.sidebar .sidebar-input{
    height: 50px;
    padding: 0 12px;
    border-bottom: 1px solid #F1F2F6;
    display: flex;
    align-items: center;
}

#search{
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 34px;
    background-image: url(img/magnifying-glass-solid.svg);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    background-size: 15px;
    padding-left: 40px;
    background-color: #F1F2F6;
}

.sidebar .chat-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.chat-list .private-chat{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 7px 12px;
}

.private-chat .chat-description,
.active-chat-info{
    font-size: 13px;
    font-weight: 600;
    flex-grow: 1;
}

.private-chat .chat-description span,
.active-chat-info span{
    color: #828F95;
    font-weight: 500;
    font-size: 12px;
}

.private-chat .message-data{
    font-size: 8px;
    font-weight: 600;
    margin-top: 8px;
    align-self: flex-start;
    justify-self: flex-end;
    white-space: nowrap;
}

.chat-list .private-chat.active,
.chat-list .private-chat:hover{
    background-color: #F1F2F6;
}

/* ------------------MAIN-CHAT---------------------------- */
.main-chat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-chat .main-chat-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 12px;
    background-color: #EAEAEA;
    height: 60px;
    gap: 12px;
}

.top-icons{
    color: #606165;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.main-chat .main-chat-body{
    flex-grow: 1;
    background-image: url(img/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 5px;
    overflow-y: auto;
}

.main-chat .main-chat-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    background-color: #EAEAEA;
    color: #606165;
    height: 60px;
    gap: 20px;
}

.emoticon-icon i, .mic-icon{
    font-size: 20px;
}

.emoticon-icon i:first-child{
    margin-right: 20px;
}

.main-chat-text input{
    flex-grow: 1;
    padding: 0 20px;
    border: none;
    border-radius: 10px;
    height: 40px;
}

.message{
    padding: 8px 30px 15px 10px; 
    max-width: 70%;
    border-radius: 8px;
    filter: drop-shadow( 0 1px 2px #ccc );
    font-size: 14px;
    position: relative;
}

.message .message-date{
    font-size: 8px;
    font-weight: 600;
    position: absolute;
    bottom: 3px;
    right: 5px;
}

.message.sent{
    background-color: #D8FDD2;
    align-self: flex-end;
}

.message.received{
    background-color: #FFFFFF;
    align-self: flex-start;
}

.message.received + .message.sent,
.message.sent + .message.message.received{
    margin-top: 20px;
}

.message.sent::before{
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    border: 5px solid #D8FDD2;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.message.received::before{
    content: '';
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    border: 5px solid #FFFFFF;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.message.sent:first-child::before,
.message.received:first-child::before,
.message.received + .message.sent::before,
.message.sent + .message.received::before{
    display: block;
}

.message.sent:first-child,
.message.received + .message.sent{
    border-top-right-radius: 0;
}

.message.received:first-child,
.message.sent + .message.received{
    border-top-left-radius: 0;

}

.message .message-icon{
    display: none;
    color: #828F95;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 8px;
    right: 7px;
}

.message:hover .message-icon{
    display: block;
    cursor: pointer;
}

.message .message-icon:hover{
    color: #606165;
}

.message .clear-message{
    display: none;
}

.message .clear-message.active{
    padding: 20px;
    width: 150px;
    height: 80px;
    border-radius: 3px;
    box-shadow: 0 3px 5px #acacac;
    color: #606165;
    background-color: #EAEAEA;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    position: absolute;
    top: 25px;
    right: 5%;
}

.message.received .clear-message{
    left: 90%;
}

.clear-message span:hover{
    cursor: pointer;
    color: #333333;
}

.message.removed{
    display: none;
}

/* --------------------DarkMode---------------------- */
.sidebar.is-dark{
    background-color: #111B21;
}

.chat-icons .enable-dark-mode{
    flex-basis: 40px;
    padding: 3px 5px;
    background-color: rgb(118, 221, 255);
    border-radius: 20px;
    color: rgb(235, 168, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.chat-icons .enable-dark-mode .fa-moon{
    display: none;
}

.chat-icons.is-dark .enable-dark-mode .fa-moon{
    display: block;
}

.chat-icons.is-dark .enable-dark-mode .fa-sun{
    display: none;
}

.chat-icons.is-dark .enable-dark-mode{
    background-color: rgb(21, 21, 151);
    color: white;
    justify-content: flex-end;
}

aside.is-dark{
    border-right: 1px solid #2F3B43;
}

.sidebar-top.is-dark{
    background-color: #202C33;
    border-right: 1px solid #2F3B43;
    color: #8B979E;
}

.sidebar-top .chat-icons.is-dark{
    color: #8B979E;
}

.sidebar .sidebar-notifications.is-dark{
    background-color: #00A884;
    color: #202C33;
}

.sidebar .notifications-icon.is-dark{
    color: #00A884;
}

.sidebar .notifications-description.is-dark span{
    color: #202C33;
}


.sidebar .sidebar-input.is-dark{
    background-color: #111B21;
    border-bottom: 1px solid #222D34;
    color: #8B979E;
}

.sidebar-input.is-dark #search{
    background-color: #202C33;
}

.private-chat .chat-description.is-dark{
    color: #E9EDE3;
}

.private-chat .chat-description.is-dark span,
.active-chat-info.is-dark span{
    color: #8696A0;
}

.active-chat-info.is-dark h4{
    color: #E9EDE3;
}

.chat-list.is-dark .private-chat.active,
.chat-list.is-dark .private-chat:hover{
    background-color: #202C33;
}

.message-data.is-dark{
    color: #8696A0;
}

.main-chat .main-chat-top.is-dark{
    background-color: #202C33;
    color: #8B979E;
}

.main-chat-top.is-dark .top-icons{
    color: #8B979E;
}

.main-chat .main-chat-body.is-dark{
    background-image: url(img/dark-modeBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-chat .main-chat-text.is-dark{
    background-color: #202C33;
    color: #8696A0;

}

.main-chat-text.is-dark input{
    background-color: #2A3942;
    color: #8696A0;
}

.main-chat-body.is-dark .message{
    filter: drop-shadow( 0 1px 1px #263138);
}

.main-chat-body.is-dark .message.sent{
    background-color: #005C4B;
    color: #E9EDE3;
}

.main-chat-body.is-dark .message.received{
    background-color: #202C33;
    color: #E9EDE3;
}

.main-chat-body.is-dark .message.sent::before{
    border: 5px solid #005C4B;
    border-right-color: transparent;
    border-bottom-color: transparent;   
}

.main-chat-body.is-dark .message.received::before{
    border: 5px solid #202C33;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.main-chat-body.is-dark .message .clear-message.active{
    box-shadow: 0 3px 5px #29383f;
    color: #C7CDD1;
    background-color: #233138;
}

.main-chat-body.is-dark .message .clear-message.active span:hover{
    color: #e2e2e2;
}